#:schema https://jj-vcs.github.io/jj/latest/config-schema.json

[aliases]
l = ["log", "-r", "interesting", "--limit", "15"]
logr = ["log", "--reversed"]
tug = ["bookmark", "move", "--from", "heads(::@- & bookmarks())", "--to", "@"]
tug- = ["bookmark", "move", "--from", "heads(::@- & bookmarks())", "--to", "@-"]

[revset-aliases]
interesting = "interesting(2)"
"interesting(last_n)" = "@ | ancestors(trunk()..(visible_heads() & mine()), last_n) | trunk()"

[user]
name = {{ .name | quote }}
email = {{ .email | quote }}

[diff]
tool = "delta"

[ui]
paginate = "auto"
default-command = "l"
diff-formatter = "delta"
pager = ["delta", "--pager", "less -FRX"]

[merge-tools]
delta.diff-expected-exit-codes = [0, 1]

[remotes.origin]
auto-track-bookmarks = "glob:ar/*"

[[--scope]]
--when.commands = ["diff", "show"]

[--scope.ui]
pager = "delta"

fix.tools.prettier.command = ["prettier", "--stdin-filepath=$path"]
fix.tools.prettier.patterns = ["glob:'**/*.tsx'", "glob:'**/*.ts'", "glob:'**/*.jsx'", "glob:'**/*.js'", "glob:'**/*.css'", "glob:'**/*.html'"]

fix.tools.eslint.command = ["eslint", "--stdin", "--stdin-filename=$path"]
fix.tools.eslint.patterns = ["glob:'**/*.tsx'", "glob:'**/*.ts'", "glob:'**/*.jsx'", "glob:'**/*.js'"]
