[general]
import = {{ .alacritty.import | quoteList }}

[font]
size = {{ .alacritty.fontsize }}

[font.normal]
family = {{ .alacritty.font_family | quote }}
style = "Light"

[font.bold]
family = {{ .alacritty.font_family | quote }}
style = "Bold"

[font.italic]
family = {{ .alacritty.font_family | quote }}
style = "Italic"

[font.bold_italic]
family = {{ .alacritty.font_family | quote }}
style = "Bold Italic"

[terminal]
shell = {{ .alacritty.shell | quote }}

[window]
dynamic_padding = true
opacity = 0.99
{{ if eq .chezmoi.os "darwin" }}
decorations = {{ .alacritty.decorations | quote }}
option_as_alt = "OnlyLeft"
{{ end }}

[window.padding]
x = 10
y = 10
